/* fullscreen mode Styles */

/* :root styles */
:root:fullscreen {
    /* Hide scrollbar */
    scrollbar-gutter: auto !important;
    overflow: hidden;
}

/* .study-element styles */
:root:fullscreen .study-element {
    /* Occupy full viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* Allow scrolling */
    overflow: auto;
    /* Background color */
    background-color: white;
    /* Padding */
    padding: 28px;
    /* Over others */
    z-index: 11;
}

/* .study-element children styles */
:root:fullscreen .study-element * {
    /* Font size */
    font-size: 54px !important;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {

    /* .study-element styles */
    :root:fullscreen .study-element {
        /* Inversion */
        filter: invert(90%);
    }
}